/.idea/
*/target/

 **/.directory
 
/tools/apogen-master/apogen-master/.idea/
/tools/apogen-master/apogen-master/.settings/
/tools/crawljax-crawljax-5.2.3/.idea/
/tools/crawljax-crawljax-5.2.3/crawljax/.idea/
/tools/cytestion_main/node_modules/
/tools/QExplore/
/tools/TESTAR_dev-2.7.18/.idea/
/tools/TESTAR_dev-2.7.18/testar/.gradle/
/tools/TESTAR_dev-2.7.18/testar/.idea/
/suts/php_apps_sikt/
/suts/php_applications/collabtive/src/templates_c/
/tools/apogen-master/
/tools/apogen/.settings/
/tools/apogen/output/
/tools/apogen/.project
/tools/apogen/.classpath
/tools/apogen/target/
/suts/php_applications/claroline/coverage-scripts-old/
