# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

.env
.env.local
.env.dev
.env.development.local
.env.test.local

# cypress local files
cypress/downloads
cypress/e2e
cypress/fixtures
cypress/screenshots
cypress/videos
cypress/logs
cypress.config.js

# possible customizable cypress file
cypress/support/custom-commands.js

# coverage files
.nyc_output
coverage

# parallel dependencies
multi-reporter-config.json
runner-results
cypress/parallel-weights.json